
button {
    display: block;
    background-color: black;
    color: white;
    width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

button:hover{
    background:grey;
    color: white;
}